@media (max-width: 1000px) {
  .container h3{font-size: 18px; margin-bottom: 12px;}

  .container .ant-form .ant-form-item{margin-bottom: 14px;}
  .container .ant-form .ant-form-item .ant-row .ant-form-item-label{padding-bottom: 4px;}
  .container .ant-form .ant-form-item .ant-row .ant-form-item-label label{font-size: 12px;}

  .container .ant-form .ant-form-item .ant-form-item-control input{font-size: 12px;}

  .container .ant-form .ant-form-item .ant-form-item-control .ant-form-item-additional .ant-form-item-explain{font-size: 12px;}

  .container .ant-form .ant-form-item button{font-size: 12px; padding: 0 10px;}
}
